body {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    font-family: sans-serif;
    background-color: rgb(19, 19, 19);
    color: rgb(247, 247, 247);
}

#header {
    text-align: center;
    margin-top: 20px;
    font-size: 80px;
}

.interestInput, textarea {
    color : #211515; 
    height: 50px;
  }

label {
    font-size: 36px;
    margin-top: 8px;
    margin-bottom: -5px;
    margin-left: 3px;
}

.btn {
    margin-top: 8px;
    margin-right: 5px;
    width: 100px;
}

#missing-alert {
    display: none;
}

.stopwatch {
    text-align: center;
    font-size: 80px;
    /*font-family: 'Orbitron';*/
}

#results {
    text-align: center;
    font-size: 64px;
}

#totalAmountHeader, #totalAmount, #currentAmountHeader, #currentAmount {
    display: inline-block;
}

footer {
    margin-top: 100px;
}